body {
    font-family: 'Merriweather', serif;
    margin: 0;



}

:-webkit-any(article, aside, nav, section) h1 {
    margin-block-start: 0;

}

.first-page {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;




}

.headline {
    color: rgb(236, 235, 247);
    font-size: 70px;
    text-align: center;
    padding-top: 200px;
    margin-bottom: 100px;

}

.summary {
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    padding-bottom: 94px;


}

.btn {

    text-align: center;
    padding-bottom: 200px;
}

.link-button {

    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    padding: 10px 20px;
    color: whitesmoke;
    font-weight: 700;
    font-size: 30px;
    border-radius: 5px;

}